<div class="inside">

  <ul id="breadcrumb">
    <li><a href="/" title="Accueil">Accueil</a></li>
    <li>Contrat d'apporteur d'affaires</li>
  </ul>
  <!-- #breadcrumb -->

  <h2 class="title-top">Contrat d'apporteur d'affaires</h2>

  <div class="bloc grey post">
    <div class="inside-white txt">

      <p>Seniors Entrepreneurs SAS, société au capital de 20 000&euro; dont le siège social
      est situé au 13 rue de Marivaux 75002 Paris. Cette société est immatriculée au Registre
      du commerce et des sociétés de Paris sous le numéro794 419 036. Elle est ci-après
      appelée «l' <strong>Apporteur</strong> »,</p>

      <p>D'UNE PART</p>

      <p>ET</p>

      <p>Le membre <strong>Senio</strong>r, ci-après appelé le « <strong>Donneur
      d'ordres</strong> »</p>

      <p>D'AUTRE PART</p>

      <p>APRES AVOIR PREALABLEMENT EXPOSE QUE :</p>

      <p>Le <strong>Donneur d'ordres</strong> exerce une activité de prestataire de
      service et que l' <strong>Apporteur</strong> d'affaires se propose de collaborer
      à son activité commerciale dans les conditions du présent accord afin de mettre à
      disposition ses services en matière de recherche et de Présentation de clientèle.</p>

      <p>Seniors Entrepreneurs SAS est propriétaire d'un site <strong>www.louerunSenior.com</strong> sur lequel figure les profils
      de plusieurs <strong>Seniors</strong> pouvant intéresser des Entreprises.</p>

      <p>Les parties se sont donc rapprochées, afin d'arrêter et de formaliser aux termes de
      la présente convention d'apporteur d'affaires, les conditions et modalités de leurs
      accords. Cet accord est motivé par le désir de chaque partie de pouvoir mettre en
      commun leur savoir-faire et d'agir en sorte que cette association d'intérêt soit
      mutuellement profitable. Chacune des parties s'engage à agir loyalement envers l'autre
      et à respecter les termes du présent accord.</p>

      <p><strong>Article 1 : Etendue de la Convention.</strong></p>

      <p>Les conditions de la présente convention s'appliquent à tous les clients qui seront
      apportés par <strong>l'Apporteur,</strong> en raison de son action personnelle,
      essentiellement au travers de l'utilisation du site internet <strong>www.louerunSenior.com</strong>, et de l'organisation
      d'évènements de rencontre entre des prospects et le <strong>Donneur
      d'ordres</strong>.</p>

      <p>L'<strong>Apporteur</strong> s'engage à faire ses meilleurs efforts et à déployer
      toutes les diligences nécessaires à l'effet de présenter au <strong>Donneur
      d'ordres</strong> le maximum de clients, en vue de l'achat, par ceux-ci, des
      produits et services commercialisés par le <strong>Donneur d'ordres</strong>.
      L'apporteur n'est aucunement engagé à apporter un nombre minimum de client
      au Donneur d'ordres par le présent contrat. Le <strong>Donneur
      d'ordres</strong> s'engage à fournir le maximum d'information sur son
      activité à <strong>l'Apporteur</strong>, au travers du site internet <strong>www.louerunSenior.com</strong>. L'<strong>Apporteur</strong>
      a une obligation de moyen et non de résultats.</p>

      <p><strong>Article 2 : Rémunération de l'Apporteur</strong></p>

      <p><strong>2.1 La commission :</strong></p>

      <p>Le commissionnement de l'<strong>Apporteur</strong> sera fonction de son niveau
      d'implication dans la réalisation d'une affaire, définie comme une première transaction
      commerciale entre le <strong>Donneur d'ordres</strong> et un client identifié par
      l' <strong>Apporteur</strong>. L<strong>'Apporteur</strong> percevra, une commission de
      15 % H.T. sur le montant hors taxes des produits encaissés par <strong>le Donneur
      d'ordres</strong> au titre des ventes réalisées avec les clients qui lui auront
      été présentés par <strong>l'Apporteur</strong>, pendant toute la durée du présent
      contrat.</p>

      <p>Une remise exceptionnel pourra toutefois est appliquée par
      L'<strong>Apporteur</strong>.</p>

      <p><strong>2.2 Le droit d'accès à la base de données de l'Apporteur
      :</strong></p>

      <p>Le <strong>Donneur d'ordres</strong> devra reverser un droit d'accès
      mensuel fixe pour accéder à la base de données de clients et prospects sur le site
      <strong>www.louerunSenior.com</strong>. Ce droit
      forfaitaire est fixé à 20 euros HT par mois. Il peut toutefois être fixé à 15 euros HT
      par mois si le <strong>Donneur d'ordres</strong> s'engage sur une durée
      minimum d'une année. Une remise exceptionnel pourra toutefois est appliquée par
      L' <strong>Apporteur</strong>, au titre du lancement de l'activité et
      autres opérations commerciales.</p>

      <p>Il est ici précisé que l'<strong>Apporteur</strong> reconnaît par les présentes
      n'avoir aucun droit de propriété sur la clientèle apportée au <strong>Donneur
      d'ordres</strong>.</p>

      <p><strong>2.3 Le versement :</strong></p>

      <p>La commission visée à l'article 2.1 ci-avant sera versée une fois par action à l'
      <strong>Apporteur</strong> après encaissement par l'entreprise des sommes dues par les
      clients. Toutefois, une ristourne pourra être appliquée sur le montant de la commission
      (citée en 2.1).</p>

      <p>Elles sont payables de la façon suivante : La totalité de la commission doit être
      prélevée en une seule ou plusieurs fois sur les transactions financières perçues par
      l' <strong>Apporteur.</strong> Le paiement par chèque ou carte bancaire peut être
      accepté uniquement en cas d'accord express de l'
      <strong>Apporteur</strong>.</p>

      <p>Ces commissions seront dues à l'<strong>Apporteur</strong>, même si la vente n'est
      pas réalisée, si le défaut d'exécution est dû au <strong>Donneur
      d'ordres</strong>, l'<strong>Apporteur</strong> ne peut être considéré comme
      responsable des défaillances <strong>du Donneur d'ordres</strong> .</p>

      <p>En revanche, aucune commission ne sera due à l<strong>'Apporteur</strong> si la
      vente ne peut être exécutée du fait de circonstances non imputables au Donneur
      d'ordres, et notamment du fait des clients qu'il lui aura présentés. Dans ce cas,
      il revient au <strong>Donneur d'ordres</strong> d'apporter la preuve à
      l' <strong>Apporteur</strong>. Dans le cas contraire, il sera redevable du
      montant de la commission.</p>

      <p>Cette commission proportionnelle au chiffre d'affaires encaissé sera versée selon
      les modalités suivantes :</p>

      <p>- S'il s'agit d'un contrat forfaitaire, le montant HT de la commission s'établit en
      proportion du montant HT du chiffre d'affaires total encaissé.</p>

      <p>- S'il s'agit d'un contrat récurrent le montant HT de la commission est
      proportionnel au montant HT du chiffre d'affaires total encaissé les douze premiers
      mois.</p>

      <p>- S'il s'agit d'un contrat d'assistance technique : si le contrat spécifie une
      durée, la commission est proportionnelle au montant HT total de la partie du contrat
      portant sur les douze premiers mois. Si le contrat ne précise pas de durée, le montant
      HT de la commission est proportionnel au montant HT encaissé pendant un maximum de 12
      mois.</p>

      <p>En cas d'autres dispositions contractuelles spécifiques, les commissions
      correspondantes seront établies d'un commun accord entre le <strong>Donneur
      d'ordres</strong> et l'<strong>Apporteur</strong>, avant la signature du contrat
      avec le client final.</p>

      <p><strong>Article 3 : Caractère <em>intuitu personae</em> du contrat d'apporteur
      d'affaires</strong></p>

      <p>Le présent contrat étant conclu <em>intuitu personae</em> . Il ne pourra en aucun
      cas être cédé ou transféré, pas plus que les droits et obligations qui y figurent à
      quelque personne, et sous quelque forme que ce soit, par l'une ou l'autre des parties
      sans l'accord express, préalable et écrit de l'autre partie.</p>

      <p><strong>Article 4 : Frais et charges</strong></p>

      <p>Les frais engagés personnellement par l'<strong>Apporteur</strong> ne sont pas pris
      en charge par le <strong>Donneur d'ordres</strong>.</p>

      <p><strong>Article 5 : Durée du contrat et résiliation</strong></p>

      <p><strong>5.1 La durée :</strong></p>

      <p>Le présent contrat qui prend effet dès l'acceptation des deux parties est
      conclu pour une durée indéterminée.</p>

      <p>Il pourra être résilié à tout moment par les parties par lettre recommandée avec
      accusé de réception, et sans préavis. Toutefois les sommes déjà versées par le
      <strong>Donneur d'ordres</strong> pour le droit d'accès à la base de
      données <strong>www.louerunSenior.com</strong> ne pourront
      être remboursées.</p>

      <p>En revanche, le <strong>Donneur d'ordres</strong> est dans l'obligation
      de verser une commission pour toute signature d'un contrat avec un nouveau client
      obtenue grâce à <strong>l'Apporteur,</strong> quel que soit la date.</p>

      <p><strong>5.2 La résiliation :</strong></p>

      <p>Le présent contrat pourra être résilié par anticipation, par l'une ou l'autre des
      parties, en cas d'inexécution de l'une quelconque des obligations y figurant et/ou de
      l'une quelconque des obligations inhérentes à l'activité exercée. Les modalités de la
      résiliation anticipée seront les suivantes :</p>

      <p>En cas de liquidation ou redressement judiciaire de l'une ou l'autre des parties
      dans les conditions légales et réglementaires en vigueur le contrat pourra être résilié
      par anticipation. A la date de fin du présent contrat, la liste des contacts fournis
      par l' <strong>Apporteur</strong> sera établie en commun avec le <strong>Donneur
      d'ordres</strong>. Les commissions en cours à la date de fin du présent contrat
      seront versées jusqu'au terme prévu par les dispositions prévues à l'article
      2-3.</p>

      <p><strong>Article 6 : Confidentialité et exclusivité</strong></p>

      <p>Le <strong>Donneur d'ordres</strong> s'interdit d'avoir recours, dans un
      territoire déterminé, à un autre apporteur que celui visé au contrat.</p>

      <p><strong>Article 7 : Contestations</strong></p>

      <p>Pour toute contestation résultant de l'interprétation, l'exécution ou la résiliation
      du présent contrat, il est fait expressément attribution de compétence aux juridictions
      du lieu du siège social de l'<strong class="c1">Apporteur</strong>, à
      l'exclusion de tout autre.</p>

    </div>
  </div>

</div>
<!-- .inside -->
