<div class="inside">

  <ul id="breadcrumb">
    <li><a href="/" title="Accueil">Accueil</a></li>
    <li>CGU - CGV</li>
  </ul>
  <!-- #breadcrumb -->

  <h2 class="title-top">Conditions générales d’utilisation du site et des services proposés (CGU)</h2>

  <div class="bloc grey post">

    <div class="inside-white txt">
      <p><strong>1) Lexique</strong></p>

      <p>Les mots utilisés sur le site&nbsp; <strong>www.louerunSenior.com</strong> sont données dans le sens
      suivant :</p>

      <ul>
        <li><strong>Utilisateur</strong> : Internaute se connectant, utilisant le
        site susnommé.</li>

        <li><strong>Informations personnelles</strong> : « les informations qui
        permettent, sous quelque forme que ce soit, directement ou non, l'identification des
        personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du
        6 janvier 1978).</li>

        <li><strong>Membre</strong> : le terme membre désigne tout utilisateur
        inscrit sur le site.</li>

        <li><strong>Entreprise membre (ou Entreprise)</strong> : le terme Membre
        Entreprise défini tout membre ayant effectué le processus de dépôt de mission ou
        s'étant inscrit à une alerte entreprise.</li>

        <li><strong>Senior membre (ou Senior</strong> ) : le terme membre Senior
        défini tout membre s'étant inscrit en tant qu'expert Senior sur <strong>www.louerunSenior.com</strong>, et dont
        l'inscription a été validée par l'équipe de ce site <strong>www.louerunSenior.com</strong>.</li>

        <li><strong>Intermédiaire</strong> : le Prestataire, qui est propriétaire
        du site <strong>www.louerunSenior.com</strong>
        dont l'activité consiste à rapprocher les Seniors et les Entreprises. La
        dénomination juridique de l'intermédiaire est la Seniors Entrepreneurs SAS. Il
        est ainsi appelé Intermédiaire dans les CGU ou les CGV ;</li>
      </ul>

      <p><strong>2) Généralités</strong></p>

      <p>L'utilisation du site <strong>www.louerunSenior.com</strong> implique l'acceptation
      pleine et entière des conditions générales d'utilisation ci-après décrites. Ces
      conditions d'utilisation sont susceptibles d'être modifiées ou complétées à
      tout moment, les internautes du site sont donc invités à les consulter avant de
      conclure toute opération.</p>

      <p>Ce site est normalement accessible à tout moment aux internautes. Une interruption
      pour raison de maintenance technique peut être toutefois décidée par Seniors
      Entrepreneurs SAS, qui s'efforcera alors de communiquer préalablement aux
      internautes les dates et heures de l'intervention.</p>

      <p>Seniors Entrepreneurs SAS s'efforce de fournir sur le site <strong>www.louerunSenior.com</strong> des informations aussi
      précises que possible. Toutefois, il ne pourra être tenue responsable des omissions,
      des inexactitudes et des carences dans la mise à jour, qu'elles soient de son
      fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>

      <p>Toutes les informations indiquées sur le site <strong>www.louerunSenior.com</strong> sont données à titre
      indicatif, et sont susceptibles d'évoluer. Par ailleurs, les renseignements
      figurant sur le site ne sont pas exhaustifs. Ils sont donnés sous réserve de
      modifications ayant été apportées depuis leur mise en ligne.</p>

      <p><strong>3) Propriété intellectuelle et contrefaçons</strong></p>

      <p>Seniors Entrepreneurs SAS est propriétaire et titulaire des droits de propriété
      intellectuelle afférents aux contenus figurant sur le site ou a acquis le droit de les
      utiliser auprès des tiers titulaires des droits sur ceux-ci. Ces contenus bénéficient
      d'une protection accordée par les dispositions législatives et réglementaires
      applicables ainsi que par les conventions internationales relatives à la propriété
      intellectuelle et industrielle. Les contenus susmentionnés incluent notamment (sans
      pour autant que cette liste soit limitative) la structure générale du site, toutes
      &oelig;uvres de l'esprit. Sont ainsi protégés par sans que cela soit limitatif :
      photos, images, textes, marques, logos, inventions, brevets, savoir-faire, services ou
      produits présentés ou mentionnés sur le site.</p>

      <p>Sauf autorisation expresse, écrite et préalable de Seniors Entrepreneurs SAS, il est
      interdit de procéder à tout acte, de quelque nature qu'il soit, de reproduction ou de
      représentation, de copie, d'apposition, de suppression, d'effacement, de mise en
      &oelig;uvre, de modification, d'adaptation, d'usage, d'utilisation ou d'exploitation, à
      quelque titre que ce soit (à titre gratuit ou onéreux) de tout ou partie des éléments
      figurant, présentés ou mentionnés sur le Site.</p>

      <p>Seniors Entrepreneurs SAS autorise cependant à télécharger le contenu de ce Site
      uniquement lorsque vous y accédez et exclusivement à des fins strictement personnelles
      et non commerciales. Toute copie intégrale ou partielle du contenu du Site doit porter
      la mention "Copyright © 2011 Seniors Entrepreneurs SAS".</p>

      <p>Toute exploitation ou reproduction non autorisée du site ou de l'un des
      éléments qu'il contient sera considérée comme constitutive d'une
      contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et
      suivants du Code de Propriété Intellectuelle.</p>

      <p><strong>4) Responsabilité</strong></p>

      <p>Seniors Entrepreneurs SAS ne pourra être tenu responsable de dommages matériels liés
      à l'utilisation du site. De plus, l'utilisateur du site s'engage à
      accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un
      navigateur de dernière génération mis-à-jour.</p>

      <p>Seniors Entrepreneurs SAS décline toute responsabilité pour tout préjudice subi en
      raison d'une manipulation correcte ou incorrecte, du téléchargement ou de toute forme
      d'utilisation licite, illicite, autorisée ou non-autorisée du Site, même si ce
      préjudice est dû à une négligence de Seniors Entrepreneurs SAS ou d'une tierce
      personne. Seniors Entrepreneurs SAS ne peut notamment être tenue responsable du
      préjudice direct, indirect, accidentel, spécifique ou consécutif à l'accès au Site ou à
      l'utilisation du contenu du Site.</p>

      <p>Seniors Entrepreneurs SAS ne garantit pas que le Site ou les fichiers accessibles
      sur le Site sont exempts de tous "Virus", "chevaux de Troie", "Vers", ou tous autres
      programmes informatiques destinés à porter atteinte au fonctionnement, à désactiver,
      abimer, ou faciliter l'accès non-autorisé à Votre système informatique.
      L'Internaute est le seul responsable de la mise en &oelig;uvre des moyens
      nécessaires à la protection de son système informatique.</p>

      <p>Ce Site peut contenir des liens vers ou des références à d'autres sites. Ces
      derniers ne sont mis à disposition qu'à des fins informatives. Seniors Entrepreneurs
      SAS n'est aucunement responsable des contenus figurant sur les sites vers lesquels des
      liens hypertextes renvoient. Par conséquent. Seniors Entrepreneurs SAS ne saurait voir
      sa responsabilité engagée au titre de dommages matériels, immatériels, corporels ou
      incorporels résultant de l'accès ou de l'utilisation de tout ou partie du contenu de
      ces sites.</p>

      <p>De même, Seniors Entrepreneurs SAS n'ayant pas la possibilité de vérifier le
      contenu éditorial des sites sur lesquelles renvoi les liens hypertextes installés sur
      le site <strong>www.louerunSenior.com</strong>, il
      n'assume aucune responsabilité éditoriale ou autre pour les sites en
      question.</p>

      <p>Seniors Entrepreneurs SAS ne pourra également être tenue responsable des dommages
      indirects (tels par exemple qu'une perte de marché ou perte d'une chance)
      consécutifs à l'utilisation du site <strong>www.louerunSenior.com</strong></p>

      <p>Des espaces interactifs (possibilité de poser des questions dans l'espace
      contact) sont à la disposition des internautes. Seniors Entrepreneurs SAS se réserve le
      droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace
      qui contreviendrait à la législation applicable en France, en particulier aux
      dispositions relatives à la protection des données. Le cas échéant, Seniors
      Entrepreneurs SAS se réserve également la possibilité de mettre en cause la
      responsabilité civile et/ou pénale de l'internaute utilisateur, notamment en cas
      de rédaction de message à caractère raciste, injurieux, diffamant, ou pornographique,
      quel que soit le support utilisé (texte, photographie&hellip;).</p>

      <p><strong>5) Modération des contenus</strong></p>

      <p>Seniors Entrepreneurs SAS ne pourra être tenu responsable des propos et des contenus
      mis en ligne par les internautes. <strong>www.louerunSenior.com</strong> se réserve le droit
      d'éditer, de modifier ou de supprimer tout contenu jugé préjudiciable au Donneur
      d'ordres, à l'utilisateur ou à tout autre tiers.</p>

      <p><strong>6) Gestion des données personnelles</strong></p>

      <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du
      6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et
      la Directive Européenne du 24 octobre 1995.</p>

      <p>A l'occasion de l'utilisation du site <strong>www.louerunSenior.com</strong>, peuvent être recueillies :
      l'URL des liens par l'intermédiaire desquels l'utilisateur a accédé au site <strong>www.louerunSenior.com</strong>, le fournisseur d'accès de
      l'utilisateur, l'adresse de protocole Internet (IP) de l'utilisateur.</p>

      <p>En tout état de cause Seniors Entrepreneurs SAS ne collecte des informations
      personnelles relatives à l'utilisateur que pour le besoin de certains services proposés
      par le site <strong>www.louerunSenior.com</strong>.
      L'utilisateur fournit ces informations en toute connaissance de cause, notamment
      lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du
      site <strong>www.louerunSenior.com</strong>
      l&#8217;obligation ou non de fournir ces informations.</p>

      <p>Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6
      janvier 1978 relative à l&#8217;informatique, aux fichiers et aux libertés, tout
      utilisateur dispose d&#8217;un droit d&#8217;accès, de rectification et
      d&#8217;opposition aux données personnelles le concernant, en effectuant sa demande
      écrite et signée, accompagnée d&#8217;une copie du titre d&#8217;identité avec
      signature du titulaire de la pièce, en précisant l&#8217;adresse postale à laquelle la
      réponse doit être envoyée.</p>

      <p>Aucune information personnelle de l'utilisateur du site <strong>www.louerunSenior.com</strong> n'est publiée à l'insu de
      l'utilisateur, ni échangée, ni transférée, ni cédée ou vendue sur un support quelconque
      à des tiers. Les informations en question ne pourraient être cédées à un tiers que dans
      l&#8217;hypothèse où ce dernier acquiert l&#8217;entreprise Seniors Entrepreneurs SAS
      dans le cadre d&#8217;une opération de cession, fusion, scission ou transmission
      universelle du patrimoine.</p>

      <p><strong>7) Cookies.</strong></p>

      <p>La navigation sur le site <strong>www.louerunSenior.com</strong> est susceptible de provoquer
      l&#8217;installation de cookie(s) sur l&#8217;ordinateur de l&#8217;utilisateur. Un
      cookie est un fichier de petite taille, qui ne permet pas l&#8217;identification de
      l&#8217;utilisateur, mais qui enregistre des informations relatives à la navigation
      d&#8217;un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la
      navigation ultérieure sur le site, et ont également vocation à permettre diverses
      mesures de fréquentation.</p>

      <p>Le refus d&#8217;installation d&#8217;un cookie peut entraîner l&#8217;impossibilité
      d&#8217;accéder à certains services. L&#8217;utilisateur peut toutefois configurer son
      ordinateur de la manière suivante, pour refuser l&#8217;installation des cookies :Sous
      Internet Explorer : onglet outil (pictogramme en forme de rouage en haut a droite) /
      options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies.
      Validez sur Ok.</p>

      <p>Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox,
      puis aller dans l'onglet Options. Cliquer sur l'onglet Vie privée.</p>

      <p>Paramétrez les Règles de conservation sur : utiliser les paramètres personnalisés
      pour l'historique. Enfin décochez-la pour désactiver les cookies.</p>

      <p>Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu
      (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres
      avancés. Dans la section "Confidentialité", cliquez sur Paramètres de contenu. Dans la
      section "Cookies", vous pouvez bloquer les cookies.</p>

      <p>Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu
      (symbolisé par trois lignes horizontales). Sélectionnez Paramètres. Cliquez sur
      Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur
      préférences. Dans l'onglet "Confidentialité", vous pouvez bloquer les cookies.</p>

      <p><strong>8) Droit applicable et attribution de juridiction</strong></p>

      <p>Tout litige en relation avec l&#8217;utilisation du site <strong>www.louerunSenior.com</strong> est soumis au droit français.
      Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
    </div>

  </div>
  <!-- .bloc.grey.post -->

  <h2 class="title-top">Conditions générales de vente (CGV)</h2>

  <div class="bloc grey post">

    <div class="inside-white txt">
      <p><strong>1) Lexique</strong></p>

      <p>Les mots utilisés sur le site <strong>www.louerunSenior.com</strong> sont données dans le sens
        suivant :</p>

      <ul>
        <li><strong>Utilisateur</strong> : Internaute se connectant, utilisant le
        site susnommé.</li>

        <li><strong>Informations personnelles</strong> : « les informations qui
        permettent, sous quelque forme que ce soit, directement ou non, l'identification des
        personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du
        6 janvier 1978).</li>

        <li><strong>Membre</strong> : le terme membre désigne tout utilisateur
        inscrit sur le site</li>

        <li><strong>Entreprise membre (ou Entreprise)</strong> : le terme Membre
        Entreprise défini tout membre ayant effectué le processus de dépôt de mission ou
        s'étant inscrit à une alerte entreprise.</li>

        <li><strong>Senior membre (ou Senior</strong> ) : le terme membre Senior
        défini tout membre s'étant inscrit en tant qu'expert Senior sur <strong>www.louerunSenior.com</strong> , et dont
        l'inscription a été validée par l'équipe de ce site <strong>www.louerunSenior.com</strong></li>

        <li><strong>Intermédiaire</strong> : le Prestataire, qui est propriétaire
        du site <strong>www.louerunSenior.com</strong>
        dont l'activité consiste à rapprocher les <strong>Seniors</strong>
        et les <strong>Entreprises</strong>. La dénomination juridique de
        l'intermédiaire est la Seniors Entrepreneurs SAS. Il est ainsi appelé
        <strong>Intermédiaire</strong> dans les CGU ou les CGV.</li>
      </ul>

      <p><strong>2) Présentation du site</strong></p>

      <p>Le site <strong>www.louerunSenior.com</strong> a pour
      objet la mise en relation entre des indépendants, justifiant d'au moins 20 années
      d'expérience professionnelle, et des entreprises en recherche d'experts
      pour réaliser des prestations de service intellectuelle à fortes valeurs ajoutées.</p>

      <p>Afin de soutenir cet objectif, <strong>www.louerunSenior.com</strong> propose également, au travers
      de son réseau de partenaires, une palette de services à destination des experts
      indépendants permettant d'améliorer leurs compétences.</p>

      <p><strong>3) Acceptation des CGV</strong></p>

      <p>L'<strong>Entreprise</strong> intéressée par un profil de
      <strong>Senior</strong> devra valider ces présentes conditions générales de vente pour
      avoir accès aux informations identifiant le professionnel ciblé.</p>

      <p>De manière générale, toute utilisation du site <strong>www.louerunSenior.com</strong> par une
      <strong>Entreprise</strong> ou un <strong>Senior</strong> membre vaut pour acceptation
      des présentes Conditions Générales de Vente.</p>

      <p><strong>4) Accès au site</strong></p>

      <p>Tout utilisateur peut accéder sans restriction aux pages publiques du site <strong>www.louerunSenior.com</strong>. Sont considérées comme pages
      publiques, l'ensemble des pages accessibles sans inscription.</p>

      <p>L'inscription en tant que <strong>Membre Entreprise</strong> est réservée à
      toute personne morale ou physique ayant l'intention de recruter un <strong>Membre
      Senior</strong> pour une ou plusieurs prestations de service intellectuelle. <strong>www.louerunSenior.com</strong> se réserve le droit de
      refuser sans aucune justification toute inscription en tant que <strong>Membre
      Entreprise</strong> et toute demande dépôt de mission.</p>

      <p>L'inscription en tant que <strong>Membre Senior</strong> est réservée à toute
      personne justifiant d'au moins 20 années d'expérience professionnelle et
      justifiant de l'exercice de fonctions à responsabilités permettant de réaliser
      des prestations de service intellectuelle à hautes valeurs ajoutées. Les membres
      <strong>Seniors</strong> doivent impérativement justifier d'un statut
      d’indépendant (profession libérale, autoentrepreneur, EURL, SAS, etc…) ou de
      portage salarial pour pouvoir finaliser leur inscription sur le site</p>

      <p>Seniors Entrepreneurs SAS se réserve le droit de refuser toute demande
      d'inscription sans avoir besoin de motiver son refus.</p>

      <p><strong>www.louerunSenior.com</strong> se réserve le
      droit d'exclure temporairement ou définitivement sans justification tous membres
      <strong>Entreprise</strong> ou <strong>Senior</strong> (Voir règles d'exclusion à
      l'article 7).</p>

      <p>Sauf exception, l'ensemble des services proposés sur <strong>www.louerunSenior.com</strong> sont accessibles uniquement
      aux <strong>membres</strong> inscrits et à jour de leur abonnement au site <strong>www.louerunSenior.com</strong></p>

      <p><strong>5) Services fournies</strong></p>

      <p>Les <strong>Entreprises</strong> inscrites peuvent accéder au service de dépôt de
      mission, de suggestion de missions, et de suggestion d'experts <em>.</em></p>

      <p>Le service dépôt de mission permet à toute <strong>Entreprise Membre</strong> , de
      déposer publiquement, après validation, sur <strong>www.louerunSenior.com</strong> une demande de mise en
      relation avec un prestataire. Les <strong>Entreprises membres</strong> pourront
      également recevoir des demandes de mise en relation de la part des
      <strong>Seniors</strong>. En cas d'acceptation par les deux parties de la mise en
      relation, <strong>l'Intermédiaire</strong> s'engage à fournir les
      coordonnées du membre <strong>Senior</strong> renseignées sur le site au <strong>membre
      Entreprise</strong>.</p>

      <p>A travers son site internet l'<strong>Intermédiaire</strong> met également à
      disposition de ses <strong>membres</strong> des modèles de contrat de prestation de
      service afin de faciliter la réalisation des missions. La mise à disposition de ces
      modèles n'engage en aucune façon <strong>www.louerunSenior.com</strong> dans une relation
      contractuelle tripartie avec l'<strong>Entreprise</strong> et le
      <strong>Senior</strong>.</p>

      <p>Les membres <strong>Seniors</strong> peuvent accéder, après validation de leur
      profil par <strong>www.louerunSenior.com</strong>, à un
      service d'apporteur d'affaires. L'objet de service est de mettre en
      relation les <strong>Seniors</strong> en recherche de mission avec des entreprises
      dépositaires de missions. <strong>L'Intermédiaire</strong> s'engage,
      lorsque le Senior en fait la demande, à fournir ses coordonnées renseignées à un
      dépositaire de mission. L'<strong>Intermédiaire</strong> se réserve toutefois le
      droit de ne pas effectuer la mise en relation si la demande est considérée comme un
      spam intempestif, si l'expérience et les résultats du <strong>Senior</strong> ne
      peuvent justifier la mise en relation, ou si le <strong>membre</strong> est exclu.</p>

      <p>Le membre <strong>Senior</strong> peut bénéficier au travers du réseau de
      partenaires de l'<strong>Intermédiaire</strong> d'une sélection de
      formations, coaching, et conférences à titre gratuit ou à tarif préférentiel. Le
      <strong>Senior</strong> peut également bénéficier de tarifs préférentiels chez les
      autres partenaires de louerunSenior.com (portage salarial, comptable, et autres
      conseils).</p>

      <p><strong>6) Engagement de transparence de l'Entreprise</strong></p>

      <p>La communication du profil d'un ou de plusieurs <strong>Seniors</strong>
      n'entraîne pas l'obligation de contacter pour
      l'<strong>Entreprise</strong> intéressée. Cependant,
      l'<strong>Intermédiaire</strong> doit être en mesure de savoir si un
      <strong>Senior</strong> a pu conclure un contrat de prestation de services grâce à
      l'intermédiation du site <strong>www.louerunSenior.com</strong>. A la demande de l'
      <strong>Intermédiaire</strong>, l'<strong>Entreprise</strong> devra fournir toute
      information sur le ou les contrats conclus avec le <strong>Senior</strong> sélectionné.
      Par ailleurs, afin de prouver sa bonne foi, <strong>l'Entreprise</strong>
      autorise <strong>l'Intermédiaire</strong> à effectuer éventuellement dans ses
      services toutes vérifications utiles.</p>

      <p><strong>7) Exclusion d'un Membre Sénior et d'une Entreprise</strong></p>

      <p>Tous les <strong>Seniors</strong> inscrits sur le site <strong>www.louerunSenior.com</strong> sont des entreprises
      indépendantes de l'<strong>Intermédiaire</strong>. Par conséquent, ce dernier ne
      saurait être poursuivi pour toutes malfaçons dont se rendrait responsable un
      <strong>Senior</strong> dans l'exercice de son activité professionnelle.</p>

      <p>L'exclusion d'un <strong>Senior</strong> ou d'une
      <strong>Entreprise</strong> s'effectuera par une décision de l'
      <strong>Intermédiaire</strong> dûment motivée qui se base sur des faits
      et/ou un comportement de nature à compromettre la qualité des services proposés aux
      <strong>Entreprises</strong>.</p>

      <p><strong>7-1. L'exclusion d'un Senior</strong></p>

      <p>La décision d'exclusion d'un <strong>Senior</strong> pourra
      être ainsi motivée le retour d'une notation délivrée par une <strong class=
      "c1">Entreprise</strong> qui n'a pas été satisfaite de la qualité de la
      prestation de services du Senior. Un mauvais comportement du <strong class=
      "c1">Senior</strong> peut également entraîner une exclusion.</p>

      <p>Préalablement à toute décision d'exclusion, le <strong class=
      "c1">Senior</strong> sera informé des faits qui lui sont reprochés. Il pourra alors
      envoyer à <strong>l'Intermédiaire</strong> des observations ou moyens
      de défense en rapport avec les faits qui lui sont reprochés.</p>

      <p>A la libre appréciation de l'<strong>Intermédiaire</strong>, la
      décision d'exclusion d'un <strong>Senior</strong> pourra être
      définitive ou provisoire.</p>

      <p><strong>7-2 L'exclusion d'une entreprise</strong></p>

      <p>L'<strong>Entreprise</strong> pourra également être exclue si un
      <strong>Senio</strong>r vient à remonter une information sur des faits ou un
      comportement inapproprié. Préalablement à toute décision d'exclusion,
      l'Entreprise pourra envoyer à <strong>l'Intermédiaire</strong>
      des observations ou moyens de défense en rapport avec les faits qui lui sont
      reprochés.</p>

      <p>L'<strong>Entreprise</strong> pourra être également exclue en cas
      de non-respect de l'article 6 des présentes conditions générales de vente.</p>

      <p>A la libre appréciation de l'<strong>Intermédiaire</strong>, la
      décision d'exclusion d'une <strong>Entreprise</strong> pourra
      être définitive ou provisoire.</p>

      <p><strong>8) Prix et règlement de la prestation d'intermédiaire</strong></p>

      <p>Les services proposés sur www.louerunSenior.com aux <strong>Entreprise membres</strong> sont entièrement gratuits.</p>

      <p>L’inscription sur le site aux <strong>Seniors membres</strong> est accessible avec un abonnement forfaitaire de 15€ par mois, si le Senior s’inscrit pour un an. Dans le cas contraire, il devra acquitter 20€ par mois. L’abonnement peut être gracieusement offert pour une période limité. (offre de lancement, opération commerciale, etc…)</p>

      <p>Lorsque la mise en relation entre un <strong>Senior</strong> et une <strong>Entreprise</strong> aboutit à la réalisation d’une mission, le Senior doit reverser à <strong>www.louerunSenior.com</strong> une commission d’apport d’affaires sur le montant de la mission facturé par le <strong>Senior</strong> à l’<strong>Entreprise</strong>. Le prix de cette commission est fixé à 15% du montant de la mission. Cependant une remise peut éventuellement être appliquée sur le montant de la commission.</p>

      <p>L’<strong>Entreprise</strong> s’engage à verser l’intégralité de la prestation réalisée par le <strong>Senior</strong> à  LouerUnSenior.com, qui s’engage à son tour, après vérification de l’objet et de l’absence de fraude, à reverser au plus vite les fonds au <strong>Senior</strong>. Toute tentative de règlement direct de la prestation de l’<strong>Entreprise</strong> vers le <strong>Senior</strong>, sans en avoir informé au préalable Seniors Entrepreneurs SAS et sans avoir obtenu l’accord explicite de ce dernier, exposera ses protagonistes à des poursuites juridiques.</p>

      <p>Le <strong>Senior</strong> bénéficie également de réductions sur l’ensemble des services proposés par les partenaires sur le site. Les tarifs seront affichés sur la fiche descriptive du service. Ils sont fixés au cas par cas.</p>

      <p><strong>9) Validation</strong></p>

      <p>Dès lors que le profil du membre <strong>Senior</strong> est validé par
      <strong>www.louerunSenior.com</strong> et que ce
      dernier est à jour de ses cotisations, il pourra accéder à l'ensemble des
      services du site.</p>

      <p>Le <strong>Senior</strong> devra reverser une commission d'apport
      d'affaires pour chaque prestation de service réalisée grâce à
      l'intermédiation du site louerunSenior.com. Pour plus détail, se référer au
      contrat d'apporteur d'affaires.</p>

      <p>Pour les autres services proposés, le paiement sera enregistré à l'inscription
      à la formation, coaching ou conférence, sauf exception.</p>

      <p><strong>10) Opération de Paiement</strong></p>

      <p>Le règlement de la commande du <strong>Senior</strong> se fait par carte
      bancaire. S'agissant du paiement par carte bancaire en ligne, seules sont acceptées les
      cartes présentant le sigle « CB », les cartes portant la marque « VISA », « EUROCARD »
      ou « MASTERCARD » acceptées en France, ou encore les cartes émises dans le cadre de
      réseaux internationaux, homologuées par le Groupe d'Intérêts</p>

      <p>Economiques (GIE) Cartes Bancaires. La validation de la commande au moyen du numéro
      de la carte bancaire et de la date d'expiration vaut mandat de payer le prix de ladite
      commande. La cotisation pour abonnement et l'inscription aux formations,
      coaching, et autres services sont débités au moment de la validation du paiement. Le
      paiement peut se faire manière mensuel ou annuel. La commission d'apport
      d'affaires est prélevée dès lors que le membre <strong>Senior</strong>
      donne son autorisation. S'agissant du règlement par chèque, celui-ci doit être émis en
      euros par une banque domiciliée en France.</p>

      <p>L<strong>'Intermédiaire</strong> peut également utiliser le service
      de sécurisation des paiements appelé OGONE. Les données confidentielles relatives au
      moyen de paiement ne sont pas accessibles par l'Intermédiaire mais gérées
      directement par ce service de sécurisation.</p>

      <p>Conformément à la législation en vigueur au 1er janvier 2013 de l'article
      L.441-6 du code de commerce, en cas de défaut de paiement du <strong class=
      "c1">Senior</strong>, l'<strong>Intermédiaire</strong> pourra exiger
      le paiement d'une indemnité calculée sur la base de trois fois le taux
      d'intérêt légal en vigueur ainsi qu'une indemnité forfaitaire pour frais de
      recouvrement de 40 euros.</p>

      <p><strong>11) Commande</strong></p>

      <p>Toute inscription vaut acceptation expresse et irrévocable, par le <strong class=
      "c1">Senior Membre</strong>, des prix et des descriptions des services disponibles à la
      vente, ainsi que des présentes conditions générales de vente.</p>

      <p>Après validation de la commande, l'<strong>Intermédiaire</strong>
      adresse au <strong>Senior</strong> un email de confirmation au courriel
      indiqué au cours de la commande.</p>

      <p><strong>12) Responsabilité du site, des internautes, des tiers</strong></p>

      <p>Pour la responsabilité du site dans le cadre de l'apport d'affaire, se
      référer au contrat d'apport d'affaires. La responsabilité du <strong class=
      "c1">Senior</strong> (<strong>Donneur d'ordres)</strong> ne pourra pas
      être retenue en cas de manquement aux obligations contractuelles du fait d'un cas
      fortuit ou d'un cas de force majeure, tel que défini par la jurisprudence.</p>
    </div>

  </div>
  <!-- .bloc.grey.post -->

</div>
<!-- .inside -->
