<% content_for :title do %>Service de mise en relation entre des experts reconnus et les entreprises<% end %>

<% content_for :meta do %>

<% end %>

<div class="inside">

  <ul id="breadcrumb">
    <li><a href="/" title="Accueil">Accueil</a></li>
    <li>Comment ça marche</li>
  </ul>
  <!-- #breadcrumb -->

  <h2 class="title-top">Comment ça marche <strong>pour les entreprises</strong> ?</h2>

  <div class="btn-group center m-reset bottom">
    <%= link_to comment_ca_marche_path, class: "btn green", title: "Comment ça marche pour les entreprises ?" do %>
      <span data-icon="s" class="icon"></span> Pour les entreprises
    <% end %>
    <%= link_to comment_ca_marche_expert_path, class: "btn blue", title: "Comment ça marche pour les experts ?" do %>
      <span data-icon="b" class="icon"></span> Pour les experts seniors
    <% end %>
  </div>

  <br>

  <div class="cmc-head">
    <p class="letter"><img src="/static/images/cmc/letter-a.png" alt="A."></p>
    <p class="title">Qu’est-ce que c’est ?</p>
    <p class="title-bis">C’est une place de marché qui s’adresse :</p>
  </div>

  <div class="bloc grey tiny">
    <div class="inside-white">

      <div class="cmc-content">

        <div class="clearfix">
          <div class="col-left bordered">
            <p class="image"><img src="/static/images/cmc/ico-entreprise.png" alt=""></p>
            <p class="title">Aux entreprises</p>
            <p class="txt">Pour sélectionner en toute confiance des spécialistes expérimentés pour des missions ponctuelles.</p>
          </div>
          <div class="col-right bordered">
            <p class="image"><img src="/static/images/cmc/ico-expert.png" alt=""></p>
            <p class="title">Aux indépendants</p>
            <p class="txt">Pour externaliser leur force de vente et trouver de nouvelles missions.</p>
          </div>
        </div>

        <hr class="dashed">

        <p class="title-ce">Pour quels types de missions ?<strong>Tous types de missions - Toutes durées - Tous secteurs</strong></p>

        <hr class="dashed">

        <p class="title-ce">Pour quels types de profils ?<strong>Ex cadres - Ex chefs d’entreprises - Consultants indépendants chevronnés - Managers de transitions</strong></p>

        <hr class="dashed">

        <p class="title-grey"><strong>De plus de 45 ans et justifiant d'au moins 20 années d’expérience professionnelle <br> à un poste à responsabilité.</strong></p>

      </div>

    </div>
  </div>

  <div class="cmc-head">
    <p class="letter"><img src="/static/images/cmc/letter-b.png" alt="B."></p>
    <p class="title">Comment ça marche ?</p>
  </div>

  <div class="bloc grey tiny">
    <div class="inside-white">

      <div class="cmc-content">

        <div class="clearfix">
          <div class="col-x3">
            <p class="image"><img src="/static/images/cmc/ico-04.png" alt=""></p>
            <p class="txt">Je dépose gratuitement <br> ma mission.</p>
          </div>
          <div class="col-x3">
            <p class="image"><img src="/static/images/cmc/ico-02.png" alt=""></p>
            <p class="txt">Je reçois des propositions et les coordonnées des experts qui m’intéressent.</p>
          </div>
          <div class="col-x3 last">
            <p class="image"><img src="/static/images/cmc/ico-05.png" alt=""></p>
            <p class="txt">Je choisis mon prestataire <br> et la mission démarre !</p>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="cmc-head">
    <p class="letter"><img src="/static/images/cmc/letter-c.png" alt="C."></p>
    <p class="title">Un atout pour les entreprises</p>
  </div>

  <div class="bloc grey tiny">
    <div class="inside-white">

      <div class="cmc-content">

        <div class="clearfix">
          <div class="col-left">
            <p class="title-list">Sélectionnez vos experts en toute confiance</p>
            <ul class="list">
              <li>Notation globale de chaque profil</li>
              <li>Evaluation publique de chaque mission réalisée</li>
              <li>Recommandation de profils par les entreprises</li>
            </ul>
          </div>
          <div class="col-right">
            <p class="title-list">LouerUnSenior.com, c’est également</p>
            <ul class="list">
              <li>Une mise relation immédiate</li>
              <li>Un service facile d’accès et totalement gratuit</li>
              <li>Une interface particulièrement simple d’utilisation</li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="clearfix">
    <div class="col-w-left">

      <div class="cmc-head">
        <p class="letter"><img src="/static/images/cmc/letter-d.png" alt="D."></p>
        <p class="title">Combien ça coûte ?</p>
      </div>

      <div class="bloc grey tiny">
        <div class="inside-white">

          <div class="cmc-content">

            <p class="title-ce">C’est totalement gratuit pour les entreprises !</p>

          </div>

        </div>
      </div>

    </div>
    <div class="col-w-right">

      <div class="cmc-head">
        <p class="letter"><img src="/static/images/cmc/letter-e.png" alt="E."></p>
        <p class="title">Quelle sécurité ?</p>
      </div>

      <div class="bloc grey tiny">
        <div class="inside-white">

          <div class="cmc-content">

            <p class="title-grey">LouerUnSenior.com gère toutes les transactions financières entre l’entreprise et le prestataire au travers de son système de paiement sécurisé. <br> <strong>Sélectionnez votre expert et nous nous occupons du reste !</strong></p>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="btn-group center">
    <%
    if current_user and current_user.entreprise
      link = new_mission_path
    else
      link = new_entreprise_path
    end %>
    <p class="mb1">Vous souhaitez être mis gratuitement <br> en relation avec un expert compétent ?</p>
    <%= link_to "Déposer une mission", link, {:title => "Déposer une mission", :class => "btn orange gradient"} %>
  </div>

</div>
<!-- .inside -->
