<% content_for :title do %>Service de mise en relation entre des experts reconnus et les entreprises<% end %>

<% content_for :meta do %>

<% end %>

<div class="inside">

  <ul id="breadcrumb">
    <li><a href="/" title="Accueil">Accueil</a></li>
    <li>Comment ça marche</li>
  </ul>
  <!-- #breadcrumb -->

  <h2 class="title-top">Comment ça marche <strong>pour les experts</strong> ?</h2>

  <div class="btn-group center m-reset bottom">
    <%= link_to comment_ca_marche_path, class: "btn blue", title: "Comment ça marche pour les entreprises ?" do %>
      <span data-icon="s" class="icon"></span> Pour les entreprises
    <% end %>
    <%= link_to comment_ca_marche_expert_path, class: "btn green", title: "Comment ça marche pour les experts ?" do %>
      <span data-icon="b" class="icon"></span> Pour les experts seniors
    <% end %>
  </div>

  <br>

  <div class="cmc-head">
    <p class="letter"><img src="/static/images/cmc/letter-a.png" alt="A."></p>
    <p class="title">Qu’est-ce que c’est ?</p>
    <p class="title-bis">C’est une place de marché qui s’adresse :</p>
  </div>

  <div class="bloc grey tiny">
    <div class="inside-white">

      <div class="cmc-content">

        <div class="clearfix">
          <div class="col-center">
            <p class="image"><img src="/static/images/cmc/ico-expert.png" alt=""></p>
            <p class="title">Aux indépendants</p>
            <p class="txt">Pour externaliser leur force de vente et trouver de nouvelles missions. <br> LouerUnSenior.com est l’apporteur d’affaires des experts indépendants.</p>
          </div>
        </div>

        <hr class="dashed">

        <p class="title-ce">Pour quels types de missions ?<strong>Tous types de missions - Toutes durées - Tous secteurs</strong></p>

        <hr class="dashed">

        <p class="title-ce">Pour quels types de profils ?<strong>Ex cadres - Ex chefs d’entreprises - Consultants indépendants chevronnés - Managers de transitions</strong></p>

        <hr class="dashed">

        <p class="title-grey"><strong>De plus de 45 ans et justifiant d'au moins 20 années d’expérience professionnelle <br> à un poste à responsabilité.</strong></p>

      </div>

    </div>
  </div>

  <div class="cmc-head">
    <p class="letter"><img src="/static/images/cmc/letter-b.png" alt="B."></p>
    <p class="title">Comment ça marche ?</p>
  </div>

  <div class="bloc grey tiny">
    <div class="inside-white">

      <div class="cmc-content">

        <div class="clearfix">
          <div class="col-x3">
            <p class="image"><img src="/static/images/cmc/ico-01.png" alt=""></p>
            <p class="txt">Je crée mon profil <br> sur LouerUnSenior.com.</p>
          </div>
          <div class="col-x3">
            <p class="image"><img src="/static/images/cmc/ico-06.png" alt=""></p>
            <p class="txt">J’envoi ma candidature pour <br> les missions qui m’intéressent.</p>
          </div>
          <div class="col-x3 last">
            <p class="image"><img src="/static/images/cmc/ico-03.png" alt=""></p>
            <p class="txt">Je reçois la confirmation de <br> l’entreprise et je débute la mission !</p>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="cmc-head">
    <p class="letter"><img src="/static/images/cmc/letter-c.png" alt="C."></p>
    <p class="title">Quels bénéfices puis-je en attendre ?</p>
  </div>

  <div class="bloc grey tiny">
    <div class="inside-white">

      <div class="cmc-content">

        <div class="clearfix">
          <div class="col-left">
            <p class="title-list">Un seul endroit pour optimiser votre <br> quotidien professionnel</p>
            <ul class="list">
              <li>Trouvez et gérez l’ensemble de vos missions <br> sur une seule plateforme</li>
              <li>Echangez directement avec les entreprises <br> sans aucun intermédiaire</li>
              <li>Bénéficiez du système de règlement sécurisé <br> de vos prestations</li>
            </ul>
          </div>
          <div class="col-right">
            <p class="title-list">La valorisation de vos talents <br> vers l’indépendance</p>
            <ul class="list">
              <li>Bénéficiez d’une exposition importante auprès <br> des entreprises grâce à votre profil public</li>
              <li>Faites valoir vos compétences grâce au système <br> de recommandation</li>
              <li>Participez aux évènements et ateliers LouerUnSenior.com</li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="clearfix">
    <div class="col-w-left">

      <div class="cmc-head">
        <p class="letter"><img src="/static/images/cmc/letter-d.png" alt="D."></p>
        <p class="title">Combien ça coûte ?</p>
      </div>

      <div class="bloc grey tiny">
        <div class="inside-white">

          <div class="cmc-content">
            <p class="text"><strong>Commission d’apport d’affaires : <br> 15% Maximum !</strong></p>
            <p class="text">Pour chaque mission réalisée grâce à LouerUnSenior.com, vous reversez une commission d’apport d’affaires proportionnelle au montant facturé. </p>
            <p class="text"><strong>Abonnement au service :</strong> <br> GRATUIT pour tous les utilisateurs de LouerUnSenior.com Version BETA !</p>
          </div>

        </div>
      </div>

    </div>
    <div class="col-w-right">

      <div class="cmc-head">
        <p class="letter"><img src="/static/images/cmc/letter-e.png" alt="E."></p>
        <p class="title">Quelle sécurité ?</p>
      </div>

      <div class="bloc grey tiny">
        <div class="inside-white">

          <div class="cmc-content">

            <p class="title-grey">LouerUnSenior.com gère toutes les transactions financières entre l’entreprise et le prestataire au travers de son système de paiement sécurisé. <br> <strong>Débutez votre mission et nous occupons du règlement !</strong></p>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="btn-group center">
    <%
    if current_expert
      link = dashboard_path(current_expert.id)
    else
      link = new_expert_path
    end
    %>

    <p class="mb1">Vous souhaitez être mis en relation <br> avec une entreprise ?</p>
    <%= link_to "Ajouter votre profil", link, {:title => "Ajouter votre profil", :class => "btn orange gradient"} %>
  </div>

</div>
<!-- .inside -->
