<% content_for :title do %>LouerUnSenior.com, qui sommes nous ?<% end %>

<% content_for :meta do %>
<meta name="description" content="L’équipe de LouerUnSenior.com, David Rudnianski, Patrick Robin.">
<% end %>

<div class="inside">

  <ul id="breadcrumb">
    <li><a href="/" title="Accueil">Accueil</a></li>
    <li>Équipe</li>
  </ul>
  <!-- #breadcrumb -->

  <h2 class="title-top">L'équipe de <strong>LouerUnSenior</strong>.com</h2>

  <div class="bloc grey">

    <div class="team">

      <ul>
        <li>
          <span class="photo"><img src="/static/images/team/team-david-rudnianski.png" alt="David Rudnianski"></span>
          <p><strong>David Rudnianski, <em>président</em></strong> : est diplômé d’HEC Entrepreneurs et d‘un master d’Ingénierie Economique. Ancien économiste-statisticien au BIPE, il s’est initié à la problématique des retraites et de l’emploi des seniors en Europe au travers d’une première expérience à la direction générale des marchés financiers de la BRD (Groupe Société Générale). Il a également eu une première expérience entrepreneuriale avant de se lancer dans le projet LouerUnSenior.com.</p>
        </li>
        <li>
          <span class="photo"><img src="/static/images/team/team-patrick-robin.png" alt="Patrick Robin"></span>
          <p><strong>Patrick Robin, <em>administrateur</em> </strong> : président du comité de direction, Editeur de Presse magazine et de livre d’art dans les années 80’s (Editions Love Me Tender, Photo Revue), a fondé plus d’une quinzaine d’entreprises et investi comme business angel dans plus de 25 Startup. Études ? Un simple bac B passé en candidat libre.</p>
        </li>
        <li>
          <span class="photo"><img src="/static/images/team/team-michel-de-guilhermier.png" alt="Michel de Guilhermier"></span>
          <p><strong>Michel de Guilhermier, <em>administrateur</em></strong> : est à la fois un serial entrepreneur (Photoways, Inspirational Stores, etc), un investisseur avisé (MotoBlouz, Plus de Bulles, ISAI, etc) et un coach / mentor de Startup (Ateliers Entrepreneur, l’Accélérateur). C’est aussi un passionné d’automobile (notamment des Aston Martin), sans oublier un blogueur et expert reconnu du eCommerce.</p>
        </li>
      </ul>

    </div>
    <!-- .team -->

  </div>
  <!-- .bloc.grey -->

</div>
<!-- .inside -->
