<div class="inside">

  <ul id="breadcrumb">
    <li><a href="/" title="Accueil">Accueil</a></li>
    <li>Mentions légales</li>
  </ul>
  <!-- #breadcrumb -->

  <h2 class="title-top">Mentions <strong>légales</strong></h2>

  <div class="bloc grey post">

    <div class="inside-white txt">
      <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux internautes du site <strong>louerUnSenior.com</strong> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>

      <p>Le site <strong>louerUnSenior.com</strong>, accessible à l’adresse <strong>www.louerunSenior.com</strong>, et, a été créé par Seniors Entrepreneurs – société par actions simplifiée (SAS) de 20 000€ de capital social, immatriculée au RCS de Paris sous le numéro SIREN : 794 419 036 dont le siège social se trouve au 13 rue de Marivaux, 75002 Paris, France.</p>

      <p>Vous pouvez prendre contact à l’adresse mail suivante : <strong>contact@louerunSenior.com</strong></p>

      <p>La société Seniors Entrepreneurs SAS est responsable de la publication et webmaster du site <strong>www.louerunSenior.com</strong>. Ce site est hébergé par la société Heroku dont le siège est au : 650 7th St, San Francisco, CA, 94103, United States.</p>
    </div>

  </div>
  <!-- .bloc.grey.post -->

</div>
<!-- .inside -->
