<p>Bonjour <strong><%= @expert.first_name %> <%= @expert.last_name %></strong>,</p>

<p>Nous vous confirmons votre participation à la mission <strong><%= link_to @mission.name, mission_url(@mission) %></strong>.</p>

<p>Que va-t-il se passer maintenant ?</p>

<p>
  1) Vous démarrez la mission. <br>
  2) Votre client va régler le montant de la prestation au travers du compte de séquestre LouerUnSenior.com. <br>
  3) LouerUnSenior.com reverse directement sur votre compte les fonds perçus, minorés du montant de la commission d’apport d’affaires.
</p>

<p>--------------------</p>

<p>L'équipe de <a href="http://louerunsenior.com">LouerUnSenior.com</a> reste à votre disposition pour répondre à toutes vos questions. <br>
Tél : 09 70 40 80 72 - Email : contact@louerunsenior.com  <br>
A très bientôt sur <a href="http://louerunsenior.com">LouerUnSenior.com</a> <br>
Twitter : @louerunsenior - Linkedin : louerunsenior.com</p>
