<p>Bonjour <strong><%= @expert.first_name %> <%= @expert.last_name %></strong>,</p>

<p>Nous sommes au regret de vous annoncer que votre inscription sur <strong>LouerUnSenior.com</strong> n'a pas été validée.</p>

<p>Les conditions d'accès à la plateforme sont strictes : <br>
- Vous devez disposer de plus de 20 ans d'expérience, <br>
- Vous devez justifier d'une solide expérience à un poste à responsabilité, <br>
- Votre profil doit être complet et soigné.</p>

<p>--------------------</p>

<p>L'équipe de <a href="http://louerunsenior.com">LouerUnSenior.com</a> reste à votre disposition pour répondre à toutes vos questions. <br>
Tél : 09 70 40 80 72 - Email : contact@louerunsenior.com  <br>
A très bientôt sur <a href="http://louerunsenior.com">LouerUnSenior.com</a> <br>
Twitter : @louerunsenior - Linkedin : louerunsenior.com</p>