<p>Bonjour <strong><%= @expert.first_name %> <%= @expert.last_name %></strong>,</p>

<p>Votre profil est désormais public. Vous pouvez dès à présent postuler à des missions et être contacté par les entreprises.</p>

<p>Attention, votre profil ne sera visible par tous qu'à partir du moment où vous aurez rempli l'ensemble les champs obligatoire. Vous pouvez modifier et renseigner ces derniers à partir de votre tableau de bord.</p>

<p>Vous pouvez accéder directement à votre <strong>tableau de bord</strong> en cliquant sur ce lien : <%= link_to "Tableau de bord", dashboard_url(@expert) %></p>

<p>--------------------</p>

<p>L'équipe de <a href="http://louerunsenior.com">LouerUnSenior.com</a> reste à votre disposition pour répondre à toutes vos questions. <br>
Tél : 09 70 40 80 72 - Email : contact@louerunsenior.com  <br>
A très bientôt sur <a href="http://louerunsenior.com">LouerUnSenior.com</a> <br>
Twitter : @louerunsenior - Linkedin : louerunsenior.com</p>
