<p>Bonjour <strong><%= @mission.entreprise.name %></strong>,</p>

<p>L'expert <strong><%= link_to "#{@expert.first_name} #{@expert.last_name}", profile_url(@expert) %></strong> n'est plus disponible pour participer à la mission <strong><%= link_to @mission.name, mission_url(@mission) %></strong>.</p>

<p>--------------------</p>

<p>L'équipe de <a href="http://louerunsenior.com">LouerUnSenior.com</a> reste à votre disposition pour répondre à toutes vos questions. <br>
Tél : 09 70 40 80 72 - Email : contact@louerunsenior.com  <br>
A très bientôt sur <a href="http://louerunsenior.com">LouerUnSenior.com</a> <br>
Twitter : @louerunsenior - Linkedin : louerunsenior.com</p>
