<p>Bonjour,</p>

<p>Vous avez une nouvelle mission à valider <strong><%= link_to @mission.name, mission_url(@mission) %></strong>.</p>

<p>- <a href="http://louerunsenior.com/admin">Administration</a></p>
