<p>Bonjour <strong><%= @mission.entreprise.name %></strong>,</p>

<p>Votre demande de dépôt de mission <strong><%=link_to @mission.name, mission_url(@mission) %></strong> a bien été prise en compte. Vous recevrez un email de confirmation lorsque cette dernière sera validée.</p>

<p>--------------------</p>

<p>L'équipe de <a href="http://louerunsenior.com">LouerUnSenior.com</a> reste à votre disposition pour répondre à toutes vos questions. <br>
Tél : 09 70 40 80 72 - Email : contact@louerunsenior.com  <br>
A très bientôt sur <a href="http://louerunsenior.com">LouerUnSenior.com</a> <br>
Twitter : @louerunsenior - Linkedin : louerunsenior.com</p>
